/* General */

* {
    font-family: Verdana, sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%
}

h2 {
    border-width: 2px;
    border-bottom-style: solid;
    border-color: #ddd;
    padding: 10px 0;
}

.shadow {
    text-shadow: 0px 0px 9px black;
}

.lightshadow {
    text-shadow: 0px 0px 4px #ccc;
}

h1 {
    font-size: 60px;
    color: #f7992d;
    text-shadow: 0px 0px 8px #000;
}

/*Navigation Bar */

.topbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #f7992d;
    width: 100%;
    box-shadow: 0px -10px 30px;
}

.navbar-center{
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 100;
    padding: 0px 10x;
}

.navbar li {
    height: 100%;
}

.navbutton {
    color: white;
    text-align: center;
    min-width: 100px;
    margin: 0px 5px;
    padding: 14px 5px;
    text-decoration: none;
    list-style-type: none;
    float: left;
    border-radius: 10px;
    border: 2px solid white;
}

.navbutton a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 12px 12px;
}

.navbutton:hover {
    border: 2px solid rgba(0,0,0,0);
    color: #f7992d;
    background-color: white;
}

.navbutton:hover a {
    color: #f7992d;
}

.logo {
    display: block;
    height: 60px;
    width: auto;
    color: white;
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    z-index: 100;
    position: relative;
    border-radius: 15px 0px 15px 15px;
}

.brand {
    display: block;
    height: 40px;
    width: auto;
    color: white;
    float: left;
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
    z-index: 100;
    position: relative;
    border-radius: 15px 0px 15px 15px;
}

/* General Page Content */

.banner {
    width: 100%;
    height: 700px;
    background-image: url("images/banner.jpg");
    background-size: 100%;
    background-position: center center;
    content-align: center;
}

.greeting {
    color: white;
    text-align: center;
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-shadow: 0px 0px 9px #000;
}

.minibanner {
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-position: center center;
}

.service-banner {
    background-image: url("images/servicebanner.jpeg");
}

.order-banner {
    background-image: url("images/orderbanner.jpg");
}
.burgerjoint {
    background-image: url("images/burgerjoint.gif");
    background-color: #f7992d;
}

.about-banner {
    background-image: url("images/about-banner.jpg");

}

.gallery-banner {
    background-image: url("images/gallerybanner.jpg");
    background-size: 100%;
}

.pizzapalace {
    background-size: 100%;
    background-image: url("images/pizzapalace.gif");
    background-color: #f7992d;
}

.ramenhouse {
    background-image: url("images/ramenhouse.gif");
    background-color: #f7992d;
}

.carousel .carousel-inner .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
    border-radius: 20px;
}

.center-text {
    text-align: center;
}

.order-button {
    background-color: #f7992d;
    text-decoration: none;
    width auto;
    height: 70px;
    color: white;
    border-radius: 70px;
    text-align: center;
    align-content: center;
    font-size: 24px;
}

.order-button:hover {
    background-color: white;
    cursor: pointer;
    color: #f7992d;
    border: solid 2px #f7992d;
}

.content {
    position: relative;
    top: 75px;
    margin: 0px 20%;
    position: relative;
    min-height: 900px;
    color: #333;
    padding-bottom: 30px;
    align-content: center;
    justify-content: center;
    display:wrap;
}

.content > div:last-child {
    margin-bottom: 400px;
}



.topic-header {
    position: relative;
    border-color: #ddd;
    border-width: 2px;
    border-top-style: solid;
    align-content: center;
    height: 300px;
    width: auto;
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
}

.topic-content div:last-child {
    margin-bottom: 100px;
}

/* Service Page*/

.service {
    background-image: url("images/service.jpg");
}

.benefits {
    background-image: url("images/benefits.jpg");
}

.price {
    background-image: url("images/price.jpeg");
    height: 200px;
    padding: 5px 0px;
}

.visuals {
    background-image: url("images/visuals.png");
    height: 300px;
}

.testimonial {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin: 0;
    border-radius: 40px;
}

.ordernow {
    position: relative;
}

.restaurant {
    position: relative;
    height: 900px;
}

.restaurant div:last-child {
    margin: 0 0 100px 0;
}

.divider {
    position: relative;
    margin: 20px 0;
    display: block;
    position: relative;
    height: 150px;
    width: 100%;
}

.separator {
    position: relative;
    margin: 20px 0;
    display: block;
    position: relative;
    height: 70px;
    width: 100%;
}

.rounded {
}

.rounded img {
    border-radius: 20px;
}

/* Blockquote */

.quote{
    max-width: 600px;
    height: auto;
    margin: 20px 30px;
    padding: 20px;
    background-color: #fff3d9;
    border: 1px solid #c9a457;
    box-sizing: border-box;
    border-left-width: 10px;
    alignt-content: center;
}

.quoted::before {
    content: "\201c";
    font-size: 100px;
    color: #f0c04f;
    display: block;
    margin-bottom: -40px;
    margin-top: -20px;
}

.quote-text{
    font-style: italic;
    line-height 1.5;
    margin: 0;
    font-family: Georgia, serif;
    font-size: 24px;
    color: #735b2a;
}

.credit {
    font-weight: bold;
    font-style: normal;
    text-align: right;
    color: #735b2a;
}

/* Dropdown */

.dropdown {
    width: 160px;
    font-size: 15px;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    float: left;
    border: 2px solid white;
    border-radius: 10px;
}

.dropdown:hover {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

.dropdown:hover .dropbtn{
    color: #f7992d;
}

.dropbtn {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 164px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 20px 20px;
    z-index: 1;
}

.dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      background-color: #f7992d;
}

.dropdown-content a:last-child {
    border-radius: 0px 0px 20px 20px;
}

.dropdown-content a:hover {
  color: #f7992d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.row {
    height: 400px;
    min-height: 400px;
}

.col {
    justify-content: center;
    content-align: center;
    border-radius: 40px;
    position: relative;
}

.row {
    pisition: relative;
}

.makati {
    text-align: center;
}

.makatimap {
    width: 900px
    height: auto;
}

.resto-body {
    align-content: center;
}

/*Footer*/

.footersecction {
    position: relative;
}

.footergrid {
    padding: 20px;
    position: relative;
    background-color: #f7992d;
}

.col img {
    width: 400px;
}

.footergrid * {
    color: black;
    text-decoration: none;
}

.footergrid a:hover {
    color: white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    padding: 30px 0 0 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0, 0.7);
}

.modalcontent {
    display: grid;
    justify-content: center;
    align-content: center;
    postion: relative;
    margin: auto;
    padding: 0px;
    width: 90%;
    max-width: 1200px;
    z-index: 250;
}

.modaldisplay {
    height: 95vh;
    width: auto;
}

img.standby {
    opacity: 0.6;
}

.active, standby.hover {
    opacity: 1;
}

.gallerySlides {
    display: none;
}

.exit {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.exit:hover, .exit:focus {
    text-decoration: none;
    cursor: pointer;
    color: #999;
}

.gprev, .gnext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
}

.gprev:hover, .nex:hover {
    background-color: rgba(51, 51, 51, 1);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;

}

.gprev {
    left: 20%;
    border-radius: 0 3px 3px 0;
}

.gnext {
  right: 20%;
  border-radius: 3px 0 0 3px;
}

/*
Lightbox
*/

.lbrow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 3px 0 3px 0;
    height: 400px;
}

.lbcolumn {
    display: grid;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    align-content: center;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.0);
}

.lbcolumn:hover {
    cursor: pointer;
}

.lbcolumn img {
    object-fit: cover;
}

.contactform , .contactinfo {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff3d9;
    border: 1px solid #c9a457;
    border-left-width: 10px;
    border-radius: 20px;
}

input, textarea {
    width: 99%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.radiogroup {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.contactbutton {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contactbutton:hover {
    background-color: #218838;
}